@model X.PagedList.IPagedList<HotelReservationManager.Models.Clients>
@using PagedList.Core.Mvc;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Index">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<h1>Clients</h1>

<p>
    <a asp-action="Create">Create New Client</a> | <a asp-action="Associate">Associate to a Reservation</a>
</p>
@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.ActionLink("First_Name", "Index", new { sortOrder = ViewBag.First_NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                @Html.ActionLink("Last_Name", "Index", new { sortOrder = ViewBag.Last_NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                Phone
            </td>
            <td>
                E_mail
            </td>
                <td>
                Adult
            </td>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adult)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



