@model IEnumerable<HotelReservationManager.Models.Clients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Client</a> | <a asp-action="Associate">Associate to a Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.First_Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Last_Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.E_mail)
            </td>
                <td>
                @Html.DisplayNameFor(model => model.Adult)
            </td>
            <th></th>
        </tr>
    </thead>
@*
<tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adult)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
