@model HotelReservationManager.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Second_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Second_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Administrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Is_Administrator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EGN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EGN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.E_mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hire_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hire_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Is_active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EGN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
