@model X.PagedList.IPagedList<HotelReservationManager.Models.Users>
@using PagedList.Core.Mvc;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New User</a>
</p>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        Find by First name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <td>
                Username
            </td>
            <td>
                Password
            </td>
            <td>
                @Html.ActionLink("First_name", "Index", new { sortOrder = ViewBag.First_NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                @Html.ActionLink("Second_name", "Index", new { sortOrder = ViewBag.First_NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                @Html.ActionLink("Last_name", "Index", new { sortOrder = ViewBag.First_NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </td>
            <td>
                Is_Administrator
            </td>
            <td>
                EGN
            </td>
            <td>
                Phone
            </td>
            <td>
                E_mail
            </td>
            <td>
                Hire_date
            </td>
            <td>
                Is_active
            </td>
            <td>
                Release_date
            </td>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Second_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Administrator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EGN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hire_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release_date)
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EGN">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EGN">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EGN">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

