@model HotelReservationManager.Models.Rooms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomsCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomsCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomsType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomsType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Is_Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Adult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price_Adult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Child)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price_Child)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
