@model IEnumerable<HotelReservationManager.Models.Rooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Rooms</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RoomsCapacity)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.RoomsType)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Is_Available)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Price_Adult)
            </td>
                <td>
                @Html.DisplayNameFor(model => model.Price_Child)
            </td>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomsCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomsType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Adult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Child)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

